a.go-to-top-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #08f;
    text-align: center;
    display: block;
    position: fixed;
    bottom: -100px;
    right: 15px;
    z-index: 3;
    color: #ffffff;
    transition: 0.3s
}

a.go-to-top-button:hover {
    opacity: 0.85
}

a.go-to-top-button.show-top-button {
    bottom: 15px
}

.border-layout a.go-to-top-button.show-top-button {
    bottom: 30px
}

@media (max-width: 767px) {
    a.go-to-top-button {
        right: 5px
    }

    a.go-to-top-button.show-top-button {
        bottom: 45px
    }
}

.stream-item-above-footer {
    margin: 40px auto 5px
}

@media (max-width: 767px) {
    .stream-item-above-footer {
        max-width: 728px;
        margin: 40px 15px 5px
    }
}

.dark-skin,
.dark-skin body {
    background-color: #1f2024;
    color: #ffffff
}

.dark-skin .change-skin-icon:before {
    content: "\f113"
}

.dark-skin .mag-box .post-excerpt,
.dark-skin .wp-caption .wp-caption-text,
.dark-skin .entry-header .entry-sub-title {
    color: #ccc
}

.dark-skin textarea,
.dark-skin input:not([type="submit"]),
.dark-skin select {
    color: #ccc
}

.dark-skin a:not(:hover),
.dark-skin .single-big-img .post-meta,
.dark-skin .single-big-img .post-meta a:not(:hover),
.dark-skin .pages-nav .pages-numbers a:not(:hover),
.dark-skin .page-title,
.dark-skin .entry h1,
.dark-skin .entry h2,
.dark-skin .entry h3,
.dark-skin .entry h4,
.dark-skin .entry h5,
.dark-skin .entry h6 {
    color: #ffffff
}

.dark-skin .post-meta,
.dark-skin .post-meta a:not(:hover),
.dark-skin .timeline-widget ul li .date,
.dark-skin .multiple-post-pages a:not(:hover),
.dark-skin .video-playlist-nav-wrapper .video-playlist-item .video-duration,
.dark-skin .login-widget .forget-text:not(:hover),
.dark-skin #autocomplete-suggestions,
.dark-skin .mobile-header-components:not(:hover) .menu-text,
.dark-skin .about-author .social-icons li.social-icons-item a:not(:hover) span {
    color: #ccc !important
}

@media (min-width: 1600px) {
    .dark-skin #story-index li a:not(.is-current) {
        color: #ccc
    }
}

.dark-skin textarea,
.dark-skin input:not([type=submit]),
.dark-skin select,
.dark-skin code,
.dark-skin kbd,
.dark-skin pre,
.dark-skin samp,
.dark-skin .latest-tweets-slider-widget .latest-tweets-slider .tie-slider-nav li a:not(:hover),
.dark-skin .next-posts,
.dark-skin .prev-posts,
.dark-skin .show-more-button,
.dark-skin .pages-nav .pages-numbers a,
.dark-skin .pages-nav .pages-numbers span.pages-nav-item,
.dark-skin .pages-nav .pages-numbers .first-last-pages .pagination-icon,
.dark-skin .multiple-post-pages .post-page-numbers,
.dark-skin .latest-tweets-widget .slider-links .tie-slider-nav span {
    border-color: rgba(255, 255, 255, 0.1)
}

.dark-skin #tie-wrapper,
.dark-skin #theme-header {
    background-color: #27292d
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.items{
    display: flex;
    flex-direction: column;
    padding:25px 80px ;
}
@media  (min-width:451px)  and (max-width:765px) {
    .items {
            padding: 25px;
        }
}

@media   (max-width:451px) {
    .items {
        padding: 10px;
    }
}